/* loading */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*sub_menu_interface*/
#sub_menu {
	/* 選單大小 */
	vertical-align:top;
	background-color:#888;
	color: rgb(221, 221, 221);
}
#sub_menu p{
	text-align:right;
	padding-top:10px;
}
#sub_menu fieldset {
	border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-10px;
	margin-bottom:20px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	background-color:#777;
}
#sub_menu ul {
	overflow:auto;
	margin:0;
	padding:0;
	padding-right: 10px;
}
#sub_menu ul li {
	border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-10px;
	margin-bottom:20px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	font-size:12px;
	font-weight:700;
	width:98%;
	height:30px;
	text-align:left;
	padding:3px;
	margin:3px;
	list-style:none;
}
#sub_menu ul li a {
	color:#000000;
	margin:0;
	padding:0;
}

#submenu_div1{
	border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-10px;
	margin-bottom:20px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	color:#dddddd;
	background-color:#777;
}
#submenu_div1 font{
	font-size:18px;
	font-weight:700;
	font-style:italic;
	color:#cccccc;
	margin-left:10px;
}
#move_button{
	border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-10px;
	margin-bottom:20px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	color:#dddddd;
	background-color:#777;
}
#submenu_div1_scale{
  position:absolute;
  top:630px;
  width:95%;
  border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-5px;
	margin-bottom:10px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	color:#dddddd;
  background-color:#777;
}
#submenu_div1_conf{
  position:absolute;
  top:690px;
  width:95%;
  border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-5px;
	margin-bottom:10px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	color:#dddddd;
  background-color:#777;
}
#submenu_div1_ch{
  border:1px #cccccc solid;
	overflow:auto;
	padding:5px;
	margin:2px;
	margin-top:-10px;
	margin-bottom:20px;
	border-radius:2px;
	border:#aaaaaa 1px dotted;
	color:#dddddd;
  background-color:#777;
}

#upload_way1_tr td:hover {
  background:red;
  /*border-radius:2px;
  border:red 2px solid;*/
}
#upload_way2_tr td:hover {
  background:red;
  /*border-radius:2px;
  border:red 2px solid;*/
}
